.THIS .slds-card {
    display: inline-block;
    margin-right:10px;
}
.THIS .slds-card:before {
    margin-left:-10px;
}
.THIS .slds-card:after {
    margin-left:0px;
}
.THIS .custom-card p{
    text-overflow: ellipsis;
    width: 350px;    
}
.THIS .contactsContainer {
    width: 100%;
}