.THIS .slds-card {
    display: inline-block;
    margin-right:10px;
    margin-top: .75rem;
}
.THIS .slds-card:before {
    margin-left:-10px;
}
.THIS .slds-card:after {
    margin-left:0px;
}
.THIS .custom-card p{
    text-overflow: ellipsis;
    width: 350px;    
}
.THIS .contactsContainer {
    width: 100%;
}

@media screen and (max-width: 796px) {
    .THIS .slds-card {
        margin-right: 0;
        width: 100%;
        margin-top: .75rem;
    }
}