.THIS .beer-card{
    background-color: #FFF;
    border: 1px solid #DDDBDA;
    border-radius: .25rem;
    background-clip: padding-box;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.10);
    display: flex;
    margin-top: 10px;
}
.THIS .beer-card-img{
    height: 180px;
    flex: 0 0 180px;
    margin: 10px;
    text-align: center;
    overflow: hidden;
}
.THIS .beer-card img{
    height: 180px;
}
.THIS .beer-card-data {
    padding: 10px;
    flex: 1;
}
.THIS .beer-card-data h1{
    color: #6B3E26;
    font-weight: bold;
    font-size: 26px;
}

.THIS .beer-card-data p:first-child {
    font-size: 10px;
}
.THIS .beer-card-data p{
    margin-top: 10px;
}